.select {
  display: inline-flex;
  position: relative;
  flex-direction: column;

  label {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
  }

  select {
    min-width: 80px;
    padding: 5px 12px;
    appearance: none;
  }

  &:after {
    $size: 3px;
    $thickness: 2px;
    content: '';
    border: solid #000;
    border-width: 0 $thickness $thickness 0;
    display: inline-flex;
    padding: $size;
    transform: rotate(45deg);
    position: absolute;
    bottom: calc(50% - $size * 4.2);
    right: 12px;
    z-index: 10;
  }
}
